<div class="card">
  <div class="card-content">
    <p class="title">
      ${1:“There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”}
    </p>
    <p class="subtitle">
      ${2:Jeff Atwood}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a href="${4:https://twitter.com/codinghorror/status/506010907021828096}">${3:Twitter}</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="$6">${5:Facebook}</a>
      </span>
    </p>
  </footer>
</div>