<article class="panel is-${1:Primary|Link|Info|success|Warning|danger|}">
    <p class="panel-heading">
        ${1:Panel Title}
    </p>
    <p class="panel-tabs">
      <a class="is-active">${2:Active tab item}</a>
      <a>${3:Tab item}</a>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-primary" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      ${4:active tab menu}
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <a>${5:Tab item}</a>
    </a>
  </article>