<div class="dropdown is-active">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="${2:dropdown-menu2}">
      <span>${1:Title}</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="${2:dropdown-menu2}" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        ${3:<p>You can insert content</p>}
      </div>
      <hr class="dropdown-divider">
      <div class="dropdown-item">
        ${4:<p>With a divider</p>}
      </div>
      <hr class="dropdown-divider">
      <a class="dropdown-item">
        ${5:This is a link}
      </a>
    </div>
  </div>
</div>