<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">${1: Modal title}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
			<!-- Content ... -->
			${2:Modal body}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">${3:Action 1}</button>
      <button class="button">${4:Action 2}</button>
    </footer>
  </div>
</div>