<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">${0: Modal title}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      ${1:Modal body}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">${2:Action 1}</button>
      <button class="button">${3:Action 2}</button>
    </footer>
  </div>
</div>