<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">${1:Top tile}</p>
          <p class="subtitle">{2:Subtitle}</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">${3:Bottom tile}</p>
          <p class="subtitle">{4:Subtitle}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">${5:Middle tile}</p>
          <p class="subtitle">${6:With an image}</p>
          <figure class="image is-4by3">
            <img src="${7:https://bulma.io/images/placeholders/640x480.png}">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">${8:Wide tile}</p>
        <p class="subtitle">${9:Aligned with the right tile}</p>
        <div class="content">
          <!-- Content -->
          $10
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">${11:Tall tile}</p>
        <p class="subtitle">${12:With even more content}</p>
        <div class="content">
          <!-- Content -->
          $13
        </div>
      </div>
    </article>
  </div>
</div>