<nav class="panel">
  <p class="panel-heading">
    ${1:Panel Title}
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search">
      <div class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </div>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">${2:Active tab item}</a>
    <a>${3:Tab item}</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    ${4:Active tab item}
  </a>
  <a class="panel-block">
    <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
    ${5:Tab item}
  </a>
  <label class="panel-block">
    <input type="checkbox">
    $6
  </label>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      $7
    </button>
  </div>
</nav>