<nav class="pagination is-{0:centered|right" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next Page</a>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link" aria-label="Goto page ${1:1}">${1:1}</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${2:15}">${2:15}</a>
    </li>
    <li>
      <a class="pagination-link is-current" aria-label="Goto page ${3:16}" aria-current="page">${3:16}</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${4:17}">${4:17}</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${5:40}">${5:40}</a>
    </li>
  </ul>
</nav>