<nav class="pagination is-${0:left|centered|right}" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link" aria-label="Goto page ${1:1}">${1:1}</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${2:45}">${2:45}</a>
    </li>
    <li>
      <a class="pagination-link is-current" aria-label="Page ${3:46}" aria-current="page">${3:46}</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${4:47}">${4:47}</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page ${5:86}">${5:86}</a>
    </li>
  </ul>
</nav>